{% extends "layout.njk" %}

{% block head_content %}
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:400,700&display=swap">
    <link rel="stylesheet" href="/css/reset.css">
    <link rel="stylesheet" href="/css/base.css">
    <link rel="stylesheet" href="/css/menu.css">
    <link rel="stylesheet" href="/css/instructors/edit_instructor.css">
{% endblock head_content %}


{% block body_main_content %}
    <main>
        <div class="card">
            <div class="avatar">
                    <img src="{{instructor.avatar_url}}" alt="Imagem do Instrutor">
            </div>

            <div class="details">
                <form id="edit-form"
                    method="POST"
                    action="/instructors/edit_instructor?_method=PUT"
                >
                    <h3>Editar Instrutor</h3>

                    <input
                        type="hidden"
                        name="id"
                        value="{{instructor.id}}"
                    >
                    
                    {% include "./includes/form_fields.njk" %}
                </form>

                <form id="fake-form">
                    <button
                        id="fake-delete-button"
                        class="tertiary-color-button form-button"
                        type="button"
                        onclick="toggleDeleteModalClasses()"
                    >
                    Deletar
                    </button>
                </form>
                
                <section id = "modal-delete" class= "modal-delete">
                    <form id="delete-form" method="POST" action="/instructors/edit_instructor?_method=DELETE">
                        <input
                            type="hidden"
                            name="id"
                            value="{{instructor.id}}"
                        >

                        <span class="confirmation-text">
                            <p>
                                Confirma que quer deletar este instrutor?
                            </p>
                        </span>

                        <div class="buttons-div">
                            <button
                            type="submit"
                            >
                            Sim
                            </button>

                            <button
                                type="button"
                                onclick="toggleDeleteModalClasses()"
                            >
                            Não
                            </button>
                        </div>
                    </form>
                </section>
            </div>
        </div>
    </main>
{% endblock body_main_content%}