{% extends "layout.njk" %}

{% block head_content %}
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:400,700&display=swap">
    <link rel="stylesheet" href="/css/reset.css">
    <link rel="stylesheet" href="/css/base.css">
    <link rel="stylesheet" href="/css/menu.css">
    <link rel="stylesheet" href="/css/members/members_list.css">
{% endblock head_content %}


{% block body_main_content %}
    <main>
        <section class="card">
            <div class="create-and-filter">
                <a 
                    class="new-member-button"
                    href="/members/new"
                >
                    Novo Membro
                </a>
                <div class="list-filter-div">
                    <input 
                        type="text"
                        name="filter"
                        placeholder="Digite o nome do membro"
                    >

                    <span>
                        Busca
                    </span>
                </div>
            </div>

            {% for member in members %}
                <a 
                    class="major-item-link"
                    href="/members/selected_member/{{member.id}}"
                >
                    <ul class="details">
                        <li class="item avatar">
                            <img
                                src="{{member.avatar_url}}"
                                alt="Imagem do Membro"
                            >
                        </li>
                        <li class="item text-info item-name">
                            <span>Nome:</span>
                            <p>{{member.name}}</p>
                        </li>
                        <li class="item text-info">
                           <span>Instrutor:</span>
                           <p>{{member.instructor_name}}</p>
                        </li>
                        <li class="item text-info">
                           <span>Idade:</span>
                           <p>{{member.age}}</p>
                        </li>
                        <li class="item text-info">
                           <span>Altura:</span>
                           <p>{{member.height}} cm</p>
                        </li>
                        <li class="item text-info">
                           <span>Peso:</span>
                           <p>{{member.weight}} kg</p>
                        </li>
                    </ul>
                </a>
            {% endfor %}

        </section>
    </main>
{% endblock body_main_content%}

{% block scripts_content %}
    <script>
        toggleInvisibleClassByFilter()
    </script>
{% endblock scripts_content %}