{% extends "layout.njk" %}

{% block head_content %}
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:400,700&display=swap">
    <link rel="stylesheet" href="/css/reset.css">
    <link rel="stylesheet" href="/css/base.css">
    <link rel="stylesheet" href="/css/menu.css">
    <link rel="stylesheet" href="/css/members/selected_member.css">
{% endblock head_content %}


{% block body_main_content %}
    <main>
        <section class="card">
            <div class="avatar">
                <img src="{{member.avatar_url}}" alt="Imagem do Membro">
            </div>
            <div class="details">
                <h3>Detalhes</h3>
                <div class="item">
                    <div>Membro</div>
                    <div>{{member.name}}</div>
                </div>
                <div class="item">
                    <div>E-mail</div>
                    <div>{{member.email}}</div>
                </div>
                <div class="item">
                    <div>Sexo</div>
                    <div>{{member.gender}}</div>
                </div>
                <div class="item">
                    <div>Idade</div>
                    <div>{{member.age}}</div>
                </div>
                <div class="item">
                    <div>Data de Nascimento</div>
                    <div>{{member.birth}}</div>
                </div>
                <div class="item">
                    <div>Tipo Sanguíneo</div>
                    <div>{{member.blood_type}}</div>
                </div>
                <div class="item">
                    <div>Altura (cm)</div>
                    <div>{{member.height}}</div>
                </div>
                <div class="item">
                    <div>Peso (kg)</div>
                    <div>{{member.weight}}</div>
                </div>
                <div class="item">
                    <div>Instrutor Responsável</div>
                    <div>{{member.instructor_name}}</div>
                </div>
                <div class="item">
                    <div>Desde</div>
                    <div>{{member.created_at}}</div>
                </div>

                <a href="/members/edit_member/{{member.id}}">Editar Membro</a>
            </div>
        </section>
    </main>
{% endblock body_main_content%}